# Fundamentals of Python
Understanding python is the key to being able to create your own neural networks from scratch. For the first few weeks we will focus on solidifying the basic concepts of python. The key concepts we will cover will in this lesson include the following:

## Key Concepts
- Data Types
- Basic python operations
- Variables
- Flow Control

**Many of these concepts can be found in "Al Sweigart's Automate the Boring Stuff with Python"**  
https://automatetheboringstuff.com/

# Python Basics

In [0]:
2+2

This statement is an *expression*, which is one of the most basic kinds of programming instructions in Python. Expressions must contain *values* (like 2) & *operators* (like +). They can always **evaluate** down to a single value.

In [0]:
2

## Operations

| Operator | Operation   |Example| Evaluates to|
|------|------|------| -----|
|   +  | Addition| 2+2| 4 |
|   -  | Subtraction| 6-4| 2 |
|   *  | Multiplication| 2*2| 4|
|   /  | Division| 2/2| 1|
|   %  | Modulus| 5%2| 1|
|   $**$  | Exponent| 2 $**$3| 8|

In [0]:
2+3*6

In [0]:
(2+3) * 6

In [0]:
23%7

In [0]:
2     +                     2

# Data Types
The main data types that we will encounter on our machine learning journey are *Integers, Floating-point numbers, Strings and Booleans*.

| Data Type | Examples  
|------|------|
|   Integers  | -2, -1, 0, 1, 2, 3,...|
|   Floats  | -1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25, ...|
|   Strings  | 	'a', 'aa', 'aaa', 'Hello!', '11 cats',...|
|   Boolean  | 	True, False|

In [0]:
"Hello World" # strings can use either single quotation or double

## String concatenation

In [0]:
"AI" + "Is" + "Cool" # when + op is used on two string values it joins them together(concatenates)

In [0]:
"Bill C" + 45 # not the same data type

In [0]:
"Hello"*5 # concatenates 5 "Hello"s together

In [0]:
"Who's"*"Joe" # the * op can only be used with two numberic values (for multiplication)

# Variables
Variables are like the ones you encounter in math. They hold values that can be used later on.

In [0]:
good = 80
bad = 20

In [0]:
good + bad

In [0]:
good + bad + good

In [0]:
good = good + 500
good

In [0]:
bad = bad + bad # bad = 20 + 20
bad

In [0]:
x = "Hello"
x

In [0]:
x = "Bye"
x

Variable names can pretty much be anything you want. However there are some rules though. For example, you can't have spaces, special characters, hyphens, quotations, start with a number, or be a number.

In [0]:
current balance = 1000000000

In [0]:
current-balance = 10000000

In [0]:
4balance = 100000000

In [0]:
42 = 100000

In [0]:
balance$$$ = 10000000

In [0]:
"balance" = 1000000

# Functions


*   print()
*   len()
*   input()

In [0]:
name = input("What is your name: ")
print("Welcome to AI Club "+ name + ",you'll never get to leave.")

In [0]:
print(name)
print(len(name))

In [0]:
len("")

In [0]:
len("testing")

In [0]:
print("This is lesson number " + 1 +" of 10000 lessons.") # needs casting

## Casting

- str()
- int()
- float()

In [0]:
x = 29
type(x)

In [0]:
x

In [0]:
x = str(29)
type(x)

In [0]:
x

In [0]:
print("This is lesson number " + str(1) +" of 10000 lessons.")

Here are some casting examples:

In [0]:
str(0)

In [0]:
str(3.1415)

In [0]:
int("42")

In [0]:
int("-99")

In [0]:
int(1.9999)

In [0]:
float(3)

In [0]:
float("3.14")

In [0]:
int("hello")

In [0]:
float("hello")

# Flow Control
![alt text](https://automatetheboringstuff.com/images/000105.jpg)

## Comparison Operators
These operations which are listed below will give a True or False value in correspondance with the Yes and No flow chart above.

| Operator | Meaning  
|------|------|
|   ==  | Equal to|
|   !=  | Not Equal to|
|   <  | Less than|
|   >  | Greater than|
|   <=  | Less than or equal to|
|   >=  | Greater than or equal to|

In [0]:
42 == 42

In [0]:
42 == 99

In [0]:
2 != 3

In [0]:
2 != 2

In [0]:
"Hello" == "Hello"

In [0]:
"Hello" == "hello"

In [0]:
42 == 42.0

In [0]:
42 == '42'

In [0]:
True == True

In [0]:
x = 31
y = 60

In [0]:
x > y

In [0]:
x <= y

## Boolean Operators

| Operator | Example  
|------|------|
|   and  | True and True|
|   or  | True or False|
|   not  | not True|

In [0]:
True and True

In [0]:
True and False

In [0]:
x = 81
x == 100 or x == 81

In [0]:
x == 100 or x == 82

In [0]:
not not not not True

In [0]:
(4 < 5) and (5 <6)

In [0]:
(4 < 5) and (9 < 6)

In [0]:
(1 == 2) or (2 == 2)

## IF Statements

In [0]:
name = input("Name? ")
if name == "Joe":
  print("Who's Joe?")
else:
  print("Hi " + name)

### ELIF Statement

In [0]:
day = input("What day is it today? ")
if day == 1:
  print("It's a day 1.")
elif day == 2:
  print("It's a day 2.")
else:
  print("We live in a quantum space where today is both day 1 and 2.")

Another example

In [0]:
name = input("What is your name? ")
age = int(input("What is your age? "))
if name == 'Alice':
       print('Hi, Alice.')
elif age <= 12:
    print('You are not Alice, kiddo.')
elif age >= 100:
    print('You are not Alice, grannie.')
elif age >= 2000:
    print('Unlike you, Alice is not an undead, immortal vampire.')

## While Loops
In the while loop, the condition is always checked at the start of each iteration (that is, each time the loop is executed). If the condition is True, then the clause is executed, and afterward, the condition is checked again. The first time the condition is found to be False, the while clause is skipped.

In [0]:
name = ""
while name != "name":
  print("Please type name.")
  name = input()
print("Good job!")

In [0]:
while True:
  print("Please type name.")
  name = input()
  if name == "name":
    break
print("Good job!")

In [0]:
# The one statement you cannot do!
while True:
  print("Hello World!")

## For Loops
The range() function doesn't take the upbound. Meaning if it's range(100) it will only good up until 100-1. This is because in programming, indices start at 0 not 1. So the function will start from 0 all the way up until 99. If you counted starting at 0 up to 99 you'll get 100 elements.

In [0]:
for i in range(5):
  print(i)

In [0]:
i = 0
while i < 5:
  print(i)
  i = i + 1

The main difference between a while and for loop is that in a for loop you have a good idea of the number of elements you need to loop through. In a while loop you keep looping until some condition is not met.

In [0]:
for i in range(10, 20):
  print(i)

In [0]:
for i in range(0, 10, 2):
  print(i)